@keyframes text-apparition{
  from{
    transform: translateX(-300px);
  }

  to{
    transform: translateX(0);
  }

}

.apparition-start{
  animation: text-apparition  400ms;
}

@keyframes carousel-scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 6))}
}
