@keyframes text-apparition{
  from{
    transform: translateY(-300px);
  }

  to{
    transform: translateX(0);
  }

}

.apparition-start{
  animation: text-apparition  400ms;
}

@keyframes carousel-scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 6))}
}


@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}