//Colors
$highlight-color: rgb(255, 217, 0);
$highlight-color-hover: rgb(255, 217, 0);
$invisible-color: transparent;
$navbar-color: #1A1E23;
$contact-form-color:#1A1E23;
$text-color: white;
$dark-text-color: #1A1E23;

//Height
$navbar-height:65px;


//Timing s
$default-transition-timing: 400ms;
$translate-transition-duration: 1000ms;
$carousel-animation-speed: 40s;

$carousel-technologies-image-width: 250px;
$carousel-technologies-number-image: 6;
$carousel-technologies-height:100px;
$carousel-technologies-margin:10px;