
$dark-color: #1A1E23;
$light-color-1: rgb(255, 217, 0);



//Colors
$highlight-color: rgb(255, 217, 0);
$highlight-color-hover: rgb(255, 217, 0);
$highlight-color-shadow: rgba(199, 169, 0, 0.623);
$invisible-color: transparent;
$navbar-color: #1A1E23;
$contact-form-color:#1A1E23;
$text-color: white;
$dark-text-color: #1A1E23;

//Height
$navbar-height:65px;
$navbar-height__900px: 45px;
$navbar-height__500px: 35px;
$navbar-font-size__900px: 17px;
$navbar-font-size__500px: 13px;
$navbar-lang-size: 20px;
$navbar-lang-size__500px: 20px;
$navbar-lang-size__900px: 30px;
$navbar-lang-size-img: 20px;
$navbar-lang-size-img__500px: 10px;
$navbar-lang-size-img__900px: 15px;



//Timing s
$default-transition-timing: 400ms;
$translate-transition-duration: 1000ms;
$carousel-animation-speed: 40s;

$carousel-technologies-color: white;
$carousel-technologies-image-width: 250px;
$carousel-technologies-number-image: 6;
$carousel-technologies-height:100px;
$carousel-technologies-margin:10px;


//About page definition
$about-background-color: $dark-color;
$about-page-section-color: $dark-color;
$technologies-section-color: $dark-color;

$summit-card-height:309px;
$summit-card-maring-horizontal:7px;
$summit-card-maring-vertical:50px;