$translate-transition-duration: 1000ms;
$navbar-color: #1A1E23;
$contact-form-color:#1A1E23;
$text-color: white;
$dark-text-color: #1A1E23;

$navbar-height:65px;
$highlight-color: rgb(255, 217, 0);
$highlight-color-hover: rgb(255, 217, 0);
$invisible-color: transparent;