/* Loading screen styles */
.loading-screen {
  position: fixed;
  top: $navbar-height;
  left: 0;
  width: 100%;
  height: calc(100vh - $navbar-height);
  background-color: $navbar-color;
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  z-index: 49; //On top of all elements except navbar
  transition: opacity 0.5s ease-out, visibility  0.5s;
  opacity: 1; 
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid $highlight-color;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media(max-width: 900px){
  .loading-screen{
    top: $navbar-height__900px;
    height: calc(100vh - $navbar-height__900px);
  }
  
}

@media(max-width: 500px){
  .loading-screen{
    top: $navbar-height__500px;
    height: calc(100vh - $navbar-height__500px);
  }

}