@import "../scss/variables/variables";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.navbar{
  background-color: $navbar-color;
  height: $navbar-height;
  width: 100vw;
  display: flex;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,3);
  z-index: 2;
  position: relative;
}

.nav-menu {
  display: flex;
  padding-left: 10%;
  padding-right: calc(10% + 62px);
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  color: #AAA;
  text-align: center;
  font-family: Raleway;
  transition: transform $translate-transition-duration ease-in-out
}

.nav-menu a{
  color: #FFF;
  padding: 10px 10px;
  margin: 0px 10px;
  font: 20px Raleway;
  position: relative;
  text-decoration: none;
  z-index: 0;
  cursor: pointer;
}


div.brackets-animation :before,
div.brackets-animation :after
{
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets-animation :before
{
    content: '(';
    color: $highlight-color;
    left: 0px;
    transform: translateX(10px);
}

div.brackets-animation :after
{
    content: ')';
    color: $highlight-color;
    right: 0px;
    transform: translateX(-10px);
}

div.brackets-animation :hover:before,
div.brackets-animation :hover:after
{
    opacity: 1;
    transform: translateX(0px);
}


.langage-select-menu{
  position: absolute;
  right: 20px;
  bottom: 50px;
  background: $navbar-color;
  border: 2px solid $highlight-color;
  border-radius: 25px;
  transform: translate(0%,100%);

  .langage-option{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $navbar-lang-size + 10px;
    width: 40px;

    img{
      border: 0.1px solid $navbar-color;
      border-radius: 25px;
      height: $navbar-lang-size;
      width: $navbar-lang-size;
    }


    &:hover{
      background: $highlight-color;
    }
  }

  .top{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .bottom{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

@media(max-width: 900px){
  .navbar{
    height: $navbar-height__900px;
  }

  .nav-menu a{
    font: 17px Raleway;
  }

  div.brackets-animation :before,
  div.brackets-animation :after
  {

    font-size: $navbar-font-size__900px;
    top: 5px;
  }

  .langage-select-menu{
    bottom: 40px;

    .langage-option{
      width: 30px;
      height: 30px;
      img{
        width: 15px;
        height: 15px;
      }
    }
  }
}

@media(max-width: 500px){
  .navbar{
    height: $navbar-height__500px;
  }

  .nav-menu{
    padding-left: 0;
    padding-right: 50px;
  }

  .nav-menu a{
    font: $navbar-font-size__500px Raleway;
  }

  div.brackets-animation :before,
  div.brackets-animation :after
  {
    font-size: 17px;
    top: 5px;
  }

  .langage-select-menu{
    bottom: 30px;

    .langage-option{
      width: 20px;
      height: 20px;
      img{
        width: 10px;
        height: 10px;
      }
    }
  }
}