@import "../scss/variables/variables";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.navbar{
  background-color: $navbar-color;
  height: $navbar-height;
  display: flex;
  box-shadow: 0px 0px 40px -2px rgba(0,0,0,3);
  z-index: 2;
  position: relative;
}

.nav-menu {
  display: flex;
  position: absolute;
  top: 10px;
  left: 50px;
  color: #AAA;
  text-align: center;
  font-family: Raleway;
  transition: transform $translate-transition-duration ease-in-out
}

.nav-menu a{
  color: #FFF;
  padding: 10px 10px;
  margin: 0px 10px;
  font: 20px Raleway;
  position: relative;
  text-decoration: none;
  z-index: 0;
  cursor: pointer;
}

div.brackets-animation :before,
div.brackets-animation :after
{
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets-animation :before
{
    content: '(';
    color: $highlight-color;
    left: 0px;
    transform: translateX(10px);
}

div.brackets-animation :after
{
    content: ')';
    color: $highlight-color;
    right: 0px;
    transform: translateX(-10px);
}

div.brackets-animation :hover:before,
div.brackets-animation :hover:after
{
    opacity: 1;
    transform: translateX(0px);
}


