@import "defaultPage.scss";
@import "navbar.scss";
@import "homePage/exploreTheMap";
@import "animations/animations";

body{
  margin: 0
}

//Disable selection
::selection {
  background: transparent;
}

.content{
  overflow: auto;
  height: calc(100vh - 65px);
  background: white
}

.first-page-image-container{
  height: 500px;
  position: relative;
}

.first-page-image{
  width:100%;
  height:100%;
  object-fit: cover;
}

.image-text{
  position: absolute;
  max-width: 35%;
  bottom: 30px;
  right: 60px;

  text-align: right;
  color: white;
}


html, body {
  min-height: 100%;
  height: 100%;
  font-family: Raleway;
}

